.pageContent {
    margin: 48px 48px;
}

.projectCard {
    margin: 24px 24px;
}

.buttonBar {
    text-align: center;
}

.Project-table {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.eventTableHeader {
    background-color: #00bcd4;
    font-size: 24px;
    font-weight: bold;
    color: black;
}

.tableHeaderRow {
    color: white;
}

.eventTableHeaderColumn {
    color: black;
}